[submodule "misc-cli/.local/share/nvim/site/pack/packer/start/markdown-preview.nvim"]
	path = misc-cli/.local/share/nvim/site/pack/packer/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
